<%= form_with(model: @loan_application, url: loan_applications_path, local: true, data: { turbo: false }) do |form| %>
  <%= render partial: 'shared/error_messages', locals: { target_object: form.object } %>

  <div class="mb-4">
    <%= form.label :personal_code, 'Personal Code', class: 'block text-gray-700 font-bold mb-2' %>
    <%= form.text_field :personal_code, class: 'border rounded w-full py-2 px-3' %>
  </div>

  <div class="mb-4">
    <%= form.label :loan_amount, 'Loan Amount (€)', class: 'block text-gray-700 font-bold mb-2' %>
    <%= form.number_field :loan_amount, class: 'border rounded w-full py-2 px-3' %>
  </div>

  <div class="mb-4">
    <%= form.label :loan_period, 'Loan Period (months)', class: 'block text-gray-700 font-bold mb-2' %>
    <%= form.number_field :loan_period, class: 'border rounded w-full py-2 px-3' %>
  </div>

  <%= form.submit 'Submit', class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
<% end %>
